@import "tailwindcss";

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}


/* .bf-border {
  border-bottom: 1px solid #E5E7EB;
} */

@theme {

  --color-bf-primary: #B45309;
  --color-bf-background: #FAF8F6;
  --color-bf-backgroundTwo: #FAF2EE;
  --color-bf-primarytext: #564338;
  --color-bf-primarytextlight: #897267;
  --color-bf-primaryblack: #111827;
  --color-bf-live: #89F5E7;
  --color-bf-error: #BA1A1A;
  --color-bf-success: #00625A;
  --font-libertinus-mono: "Libertinus Mono", monospace;
}

@layer components {

  .bf-border {
    @apply border border-[#E5E7EB];
  }

  .bf-border-b {
    @apply border-b border-[#E5E7EB];
  }

  .bf-border-t {
    @apply border-t border-[#E5E7EB];
  }

  .bf-border-l {
    @apply border-l border-[#E5E7EB];
  }

  .bf-error-border {
    @apply border border-bf-error;
  }

  .bf-shadow {
    @apply  shadow-[0_1px_2px_1px_rgba(0,0,0,0.05)]
  }

  .disabled {
    @apply disabled:bg-[#F7EFEB] disabled:text-[#B0AAA7] disabled:cursor-not-allowed
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}